*, *:before, *:after{
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255) ;
    font-family: 'Lato', sans-serif;
	color: #565656;
	width: 100%;
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}
#header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/header.png); 
    background-color: black;
    height: 900px;
    width: 100%;
}
.headermanue img{
    min-width: 133px;
}
.headermanue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 12vh;
    border-bottom: 0.25px solid #686868;
}
.headermanue ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.headermanue li{
    font-weight: lighter;
    text-align: center;
    font-size: 16pt;
    margin: 25px;
    color: rgb(255, 255, 255) ;
}
.headermanue li a{
    color: #ffffff;
    text-decoration: none;   
}
.headermanue a:hover {
    color: #ffffff;
    border-bottom: 0.25px solid rgb(255, 255, 255) ; 
}
.headertext{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.headertext h1{
    font-size: 72pt;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 5px;
}
.headertext blockquote{
    font-family: Georgia-Italic;
    font-size: 32pt;
    text-align: center; 
    font-style: italic;
    color:  #ffffff ;
    margin-top: 5px; 
}
/*register section*/
.register {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.register a{
    color: #ffffff;
    text-decoration: none;
}
.register a:hover {
    color: #e84c3d;
    text-decoration: none;
    cursor: pointer;
}
.login{
    background-color: #21424a;
    font-size: 24pt;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 55%;
    padding: 35px;
}
.reg{
    background-color: #2fac6c;
    font-size: 24pt;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 45%; 
    padding: 35px; 
    position: relative; 
}
.reg::before{
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: -40px;
    width: 80px;
    height: 120px;
    transform: skew(-15deg, 0deg);
    background-color: #2fac6c;
    -webkit-transform: skew(-15deg, 0deg);
    -moz-transform: skew(-15deg, 0deg);
    -ms-transform: skew(-15deg, 0deg);
    -o-transform: skew(-15deg, 0deg);
} 
/*inform table*/
.informDomens{
    padding: 50px;
}
.informDomens h3{
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20pt;
    color: rgba(56, 55, 55, 255);
    text-align: center;  
}
.informDomens p{
    font-size: 14pt;
    font-weight: lighter;
    color: rgba(162, 162, 162, 255);
    text-align: center;
    margin: 0;
}
.informDomens table{
    color: #d9d9d9;
    border-collapse: collapse;
    text-align: center;
    font-size: 16pt;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 900px;
    border: 2px solid #d9d9d9;
}
.col1, .col3{
    width: 10%;
}
.col1{
    position: relative;
}
.col1::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 110%;
    height: 20%;
    background-color: #ffffff;
}
.col1::after{
    content: ' ';
    display: block;
    position: absolute;
    top: 80%;
    left: 0px;
    width: 110%;
    height: 20%;
    background-color: #ffffff;
}
.col2{
    text-align: left;
}
.rowdomens{
    height: 50px;
}
.rowdomens td{
    border: 2px solid #d9d9d9;
}
.rowdomens input{
    margin-left: 10px;
    border: none;
    font-size: 14pt;
    color: rgba(134, 134, 134, 255);
}
.rowdomens select{
    font-size: 16pt;
    border: none;
    color: #d9d9d9;
}
.domens td{
    padding: 35px;
    border: 2px solid #d9d9d9; 
}
.domens .ftd{
    position: relative; 
}
.domens .ftd::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 360%;
    height: 10%;
    background-color: #ffffff;
}
.domens .ftd::after{
    content: ' ';
    display: block;
    position: absolute;
    top: 90%;
    left: 0px;
    width: 360%;
    height: 10%;
    background-color: #ffffff;
}
.domens tr:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em red; 
    color: white; 
}
/*Prices*/
.price{
    background-image: url(../img/prices.png);
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 60px;
    padding-bottom: 30px;
}
.allprice{
    height: 90%; width: 90%; 
    display: flex;
    justify-content: space-between;
}
.allprice div{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: rgb(255, 255, 255) ; 
}
.basic{
    border-top: 6px solid #f9d423;
}
.normal{
    border-top: 6px solid #7f8c8d;
}
.big{
    border-top: 6px solid #f85f40;
}
.bigest{
    border-top: 6px solid #1abc9c;
}
.allprice h3{
    font-size: 16pt;
    color: rgba(40, 40, 40, 255);
    text-align: center;
    text-transform: uppercase; 
}
.allprice h3:hover{
    text-shadow: 1px 1px 2px black, 0 0 1em red; 
    color: white; 
}
.allprice table{
    font-size: 16pt;
    font-weight: lighter;
    color: rgba(180, 180, 180, 255);
    text-align: center; 
    border-collapse: separate; border-spacing: 10px 20px;
    border-top:  0.25px solid rgb(8, 8, 8);
    border-bottom:  0.25px solid rgb(8, 8, 8);
    margin-bottom: 20px;
}
.allprice sub{
    font-size: 13pt;
    font-weight: lighter;
    color: #8d8d8d;
}    
.first {
    text-align: left;
}
.basic .second {
    text-align: right;
    color: #f9d423;
}
.normal .second {
    text-align: right;
    color: #7f8c8d;
}
.big .second {
    text-align: right;
    color: #f85f40;
}
.bigest .second {
    text-align: right;
    color: #1abc9c;
}
.roundamount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    margin: 0 auto;   
}
.pic1 {
    border: 4px solid #f9d423;
    border-radius: 50%;
    border-left-color: white;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: white;
    transform: rotate(43deg);
    color: #f9d423;
}
.roundamount i {
    transform: rotate(-43deg);
}
.pic2 {
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    border-left-color: white;
    border-bottom-color: white;
    transform: rotate(43deg);
    color:#7f8c8d;
}
.pic3 {
    border: 4px solid #f85f40;
    border-radius: 50%;
    border-left-color: white;
    transform: rotate(43deg);
    color:#f85f40;
}
.pic4  {
    border: 4px solid #1abc9c;
    border-radius: 50%;
    transform: rotate(43deg);
    color:#1abc9c;
}
.allprice p{
    margin: 0;
    text-align: center;
}
.bigest span{
    font-size: 17pt;
    text-align: center;
    font-weight: bolder;
    color: rgba(44, 44, 44, 255);
    border-bottom: 4px solid #1abc9c;
    padding-bottom: 3.5px;
    padding-left: 20px;
    padding-right: 20px;
}
.big span{
    font-size: 17pt;
    text-align: center;
    font-weight: bolder;
    color: rgba(44, 44, 44, 255);
    border-bottom: 4px solid #f85f40;
    padding-bottom: 3.5px;
    padding-left: 20px;
    padding-right: 20px;
}
.basic span{
    font-size: 17pt;
    text-align: center;
    font-weight: bolder;
    color: rgba(44, 44, 44, 255);
    border-bottom: 4px solid #f9d423;
    padding-bottom: 3.5px;
    padding-left: 20px;
    padding-right: 20px;
}
.normal span{
    font-size: 17pt;
    text-align: center;
    font-weight: bolder;
    color: rgba(44, 44, 44, 255);
    border-bottom: 4px solid #7f8c8d;
    padding-bottom: 3.5px;
    padding-left: 20px;
    padding-right: 20px;
}
.basic .roundamount:hover {
    color: #ffffff;
    background-color: #f9d423;
}
.normal .roundamount:hover {
    color: #ffffff;
    background-color: #7f8c8d;
}
.big .roundamount:hover {
    color: #ffffff;
    background-color: #f85f40;
}
.bigest .roundamount:hover {
    color: #ffffff;
    background-color: #1abc9c;
}
/*AboutUs*/
.aboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.abouUscont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1.5px dotted #d7d7d7;
}
.infabotUs{
    width: 55%;
    margin: 0;
    border-right: 1.5px dotted #d7d7d7;
}
.infabotUs div{
    text-align: left;
    font-size: 16pt;
    font-weight: lighter;
    line-height: 1.5em;
    margin: 0;
    padding-right: 10px;
    color: rgba(116, 116, 116, 255);
}
.infabotUs h3{
    text-align: left;
    font-size: 25pt;
    font-weight: bolder;
    margin: 0px 0px 10px 0px;
    color: rgba(48, 48, 48, 255);
}
.infabotUs b{
    font-weight: 900;
}
.about-us-team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
}
.about-us-teamworker{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.about-us-teamworker img{
    margin: 12px; 
}
.about-us-teamworker p{
    font-weight: lighter;
    font-size: 14pt;
    color: rgba(142, 142, 142, 255);
    text-align: center;
    margin: 0;
}
.about-us-teamworker h4{
    font-weight: bold;
    font-size: 15pt;
    color: rgba(48, 48, 48, 255);
    text-align: center;
    margin: 0;
}
.about-us-team-social{
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}
.about-us-team-social a{
    color: rgba(142, 142, 142, 255);
    margin: 4px;
}
.about-us-team-social a:hover{
    color: #1f89ba;
}
/*block comments*/
.comments{
    background-image: url(../img/coments.png);
    height: 193px; 
    font-size: 15pt;
    text-align: center;
    color: rgba(255, 255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.comments blockquote{
    font-weight: lighter;
    width: 60%;
    margin: 0;
}
.comments p{
    margin-top: 10px; 
    font-weight: bolder;
    margin-top: 10px;
}
/*function*/
.functions{
    background-color: rgb(255, 255, 255) ;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.functionscont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}
.server{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.server blockquote{
    margin: 0;
    line-height: 1.5em;
    font-size: 14pt;
    font-weight: lighter;
    color: rgba(126, 126, 126, 255);
}
.server p{
    font-size: 16pt;
    font-weight: bolder;
    color: rgba(48, 48, 48, 255);
    margin: 5px 0px;
}
.fastserver{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 60px; height: 60px;
    border-radius: 100%;
    background-color: #f1c40f;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.cloudserver{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 60px; height: 60px;
    border-radius: 100%;
    background-color: #0faff1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.domaintransfer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 60px; height: 60px;
    border-radius: 100%;
    background-color: #95a5a6;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.livesupport{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 60px; height: 60px;
    border-radius: 100%;
    background-color: #f1540f;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.server i{
    font-size: 150%;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: 20% 20%;
}
/*footer*/
footer{ 
    background-color: #2a2a2a;
    font-size: 15pt;
    font-weight: lighter;
    color: rgba(104, 104, 104, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer a{
    color:  #686868;
    text-decoration: none; 
}
footer img{
    min-width: 133px;
}
footer a:hover {
    color: rgb(255, 255, 255) ;
}
.logofooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 8vh;
    border-bottom: 0.25px solid #686868;
}
.logofooter ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.logofooter li{
    text-align: center;
    text-transform: uppercase;
    font-size: 13pt;
    margin: 25px;
    color: rgb(255, 255, 255) ;
}
.basementfooter{
    display: flex;
    justify-content: space-between;
    font-size: 14pt;
    width: 90%;
    height: 60%; 
    margin-bottom: 30px;
}
.infofooter{
    text-align: left;
    border-right: 0.25px solid #686868;
    padding-top: 30px;
    padding-right: 60px;
}
.tablefooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tablefooter ul{
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    list-style: none;
    line-height: 2em;
    margin-right: 20px;
}
.tablefooter li:before  {
    content: "> ";  
}
.contactsfooter{
    padding-left: 60px;
    border-left: 0.25px solid #686868;
}
.contactsfooter ul{
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0;
    list-style: none;
    line-height: 1.5;
    text-align: left;
}
.contactsfooter i{
    font-size: 14pt;
    color: #686868;
    margin: 10px 10px;
}